<html>

<head>
	<title>Game Title</title>
	<meta charset="UTF-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

	</script>
</head>

<body>
	<div id="game"> </div>
	<div id="template">
		<h3 class="this-game-title"> </h3>
		<h4 class="this-game-id"> </h4>
		
		<p class="this-game-img"> </p>
		
		<p class="this-game-description"> </p>

		<p class="game-genre"> </p>

		<p class="game-publisher"> </p>

		<p class="release-date"> </p>

	</div>

	<script src="../models/Game.js">

	</script>
	<script src="../views/gameDetails.js">

	</script>
</body>

</html>